{
    "extends": ["airbnb", "prettier", "prettier/react", "plugin:jest/recommended"],
    "plugins": ["prettier"],
    "rules": {
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js", ".jsx"]
        }
      ],
      "semi":"off",
      "react/prop-types": 0,
      "no-underscore-dangle": 0,
      "import/imports-first": ["error", "absolute-first"],
      "import/newline-after-import": "error",
      "import/no-unresolved": "off",
      "import/prefer-default-export": "off",
      "react/forbid-prop-types": "off"
    },
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true
    },
    "parser": "babel-eslint"
}
