@charset "utf-8";

/* Imports */
@import '_mixins';

/* Style */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 70px;
  background-color: #f6f5f2;
  font-family: 'Roboto', sans-serif;
  color: white;
  line-height: 1.5;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.hb-header {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-bottom: none;
  background-color: #1b1c1d;
  color: white;
  height: 70px;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
}

.hb-hero.ui.vertical.segment {
  min-height: 350px;
  background: url('http://imagens.ebc.com.br/z9Ok-dJWDQDflP_giZB_8WioHCA=/1140x760/smart/http://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/reuters-adriano_machado_.jpg?itok=amHwtEZl')
    center top no-repeat;
  background-size: cover;
  &:after {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .ui.container {
    position: relative;
    z-index: 2;
  }
  .ui.text.container {
    max-width: 100% !important;
  }
  .search-master {
    max-width: 600px;
    margin: 0 auto;
  }
  .ui.header {
    color: white;
    font-size: 1.5em;
    margin-top: 4.5em;
  }
}

.hb-logo {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.6em;
  color: white;
  display: block;
  float: left;
  margin-top: 0.7em;
}

.hb-menu {
  float: right;
  height: 70px;
  line-height: 70px;
  a {
    font-size: 1.1em;
    margin: 0 0.8em;
    letter-spacing: 1px;
    color: white;
    &:last-child {
      margin-right: 0;
    }
  }
}

.py-1 {
  padding: 1em 0;
}

.py-2 {
  padding: 2em 0;
}

.py-3 {
  padding: 3em 0;
}

.no-padding {
  padding: 0 !important;
}

.hb-cards {
  a.ui.card {
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    &:hover {
      -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.095);
      -moz-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.095);
      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.095);
    }
  }
  .ui.rating {
    margin-left: -2px;
    .active.icon {
      color: #ffc000;
    }
  }
  .ui.card > .content > .description.hb-status-open,
  .ui.cards > .card > .content > .description.hb-status-open {
    color: green;
  }
  .ui.card > .content > .description.hb-status-closed,
  .ui.cards > .card > .content > .description.hb-status-closed {
    color: red;
  }
}

.hb-numbers {
  padding-bottom: 3em;
}

.hb-hightlight {
  .placeholder.segment {
    border: none;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.095) !important;
    background-color: white;
  }
}

.statistics {
  display: flex;
  justify-content: center;
}

.typed-wrap {
  width: 100%;
  display: block;
  font-size: 1.6em;
  line-height: 1.5;
  .typed {
    white-space: pre;
  }
}

.ui.button.menu-toggle {
  width: 30px;
  height: 32px;
  outline: none;
  position: relative;
  cursor: pointer;
  display: none;
  float: right;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-top: 1.2em;
  &:hover {
    .one {
      @include transform(translate(0, 1px));
    }
    .three {
      @include transform(translate(0, -1px));
    }
  }
  &.on {
    .one {
      @include transform(rotate(45deg) translate(7px, 8px));
    }

    .two {
      opacity: 0;
    }

    .three {
      @include transform(rotate(-45deg) translate(6px, -7px));
    }
  }
}

.one,
.two,
.three {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 6px auto;
  backface-visibility: hidden;
  @include transition(all, 0.2s, ease-in-out);
}

.menu-open {
  .menu-toggle {
    .one {
      @include transform(rotate(45deg) translate(7px, 7px));
    }

    .two {
      opacity: 0;
    }

    .three {
      @include transform(rotate(-45deg) translate(6px, -6px));
    }
  }
}
