@charset "utf-8";

/* Imports */
@import '_mixins';

/* Responsive */

@media (max-width: 1399px) {
}

@media (max-width: 1299px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .menu-toggle {
    display: block;
  }
  .hb-menu {
    opacity: 0;
    display: block;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 5;
    top: 0;
    pointer-events: none;
    @include transition(all, 0.2s, ease-in-out);
    @include transform(translateY(0));
  }
  .menu-open {
    .hb-menu {
      opacity: 1;
      pointer-events: auto;
      @include transform(translateY(70px));
      a {
        position: relative;
        z-index: 2;
        &:first-child {
          margin-left: 0;
        }
      }
      &:before {
        width: 200%;
        height: 70px;
        background-color: #292a2b;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        left: -50%;
        display: block;
        content: '';
      }
    }
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}

@media (max-width: 475px) {
}

@media (max-width: 375px) {
  .hb-logo {
    font-size: 1.4em;
    margin-top: 1em;
  }
}

@media (max-width: 320px) {
}

/* iPhone X in landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* iPhone X in portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* iPhone 6, 7, & 8 in landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}

/* iPhone 6, 7, & 8 in portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
}

/* iPhone 6, 7, & 8 Plus in landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
}
/* iPhone 6, 7, & 8 Plus in portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
}

// iPhone 6 Landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}

// iPhone 6 Plus Landscape
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
}

// iPhone 5 Landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
}

// iPhone 4 Landscape
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
}
